Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2021-06, with the labels that each got.

#321 Add a pattern for making shared ownership explicit.
  patterns/1-initial/explicit-shared-ownership.md
Labels: 1-initial, Type - Content Work

#331 Run link checker action daily
  .github/workflows/link-checker.yml
Labels: Type - Meta

#332 Add new pattern for Release Process/Published Artifacts
  README.md
  patterns/1-initial/release-process.md
Labels: 1-initial, Type - Content Work

#325 Add InnerSource principles to list of draft patterns
  patterns/1-initial/principles.md
Labels: 1-initial, Type - Content Work

#333 Cleanup for explicit-innersource-principles pattern
  README.md
  patterns/1-initial/explicit-innersource-principles.md
Labels: Type - Content Work
