Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2022-08, with the labels that each got.

#436 Introduce lychee link checker (instead of liche)
  .github/workflows/link-checker.yml
  .lycheeignore
  README.md
Labels: Type - Maintenance / Cleanup, Type - Meta

#438 Create Board Report 2022-08
  meta/README.md
  meta/boardreports/2022-08.md
  meta/boardreports/README.md
Labels: Non-Pattern, Type - Meta

#441 Setting URL for the Appendix section explicitly for the JP book
  book/jp/toc_template.md
Labels: Type - Translation

#440 Japanese translation improvement
  .gitbook.yaml
  book/jp/contribute.md
  book/jp/introduction.md
  book/jp/toc.md
  translation/japanese/patterns/30-day-warranty.md
  translation/japanese/patterns/base-documentation.md
  translation/japanese/patterns/communication-tooling.md
  translation/japanese/patterns/contracted-contributor.md
  translation/japanese/patterns/core-team.md
  translation/japanese/patterns/document-your-guiding-principles.md
  translation/japanese/patterns/innersource-portal.md
  translation/japanese/patterns/maturity-model.md
  translation/japanese/patterns/praise-participants.md
  translation/japanese/patterns/trusted-committer.md
  translation/japanese/templates/README-template.md
Labels: Type - Translation
