Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-08, with the labels that each got.

#541 Use glob to select files to be checked by vale
  .github/workflows/vale.yml
  .gitignore
  patterns/2-structured/project-setup/communication-tooling.md
Labels: Type - Maintenance / Cleanup

#567 Adding welcome bot + fix links to slack
  .github/ISSUE_TEMPLATE/config.yml
  .github/config.yml
  .lycheeignore
  CONTRIBUTING.md
  meta/FAQ.md
Labels: :gear: Type - Meta

#568 Add GitHub to release-process as a known instance
  patterns/2-structured/release-process.md
Labels: 2-structured, :tiger2: patterns-in-the-wild

#574 Remove outdated link to 'release process' pattern
  README.md
Labels: Type - Maintenance / Cleanup

#576 Porting board report for this WG here
  meta/boardreports/2023-08.md
Labels: :gear: Type - Meta

#548 Updating Japanese🇯🇵 / Chinese🇨🇳 page to the latest
  translation/ja/patterns/30-day-warranty.md
  translation/ja/patterns/base-documentation.md
  translation/ja/patterns/common-requirements.md
  translation/ja/patterns/contracted-contributor.md
  translation/ja/patterns/core-team.md
  translation/ja/patterns/crossteam-project-valuation.md
  translation/ja/patterns/dedicated-community-leader.md
  translation/ja/patterns/document-your-guiding-principles.md
  translation/ja/patterns/innersource-license.md
  translation/ja/patterns/innersource-portal.md
  translation/ja/patterns/maturity-model.md
  translation/ja/patterns/praise-participants.md
  translation/ja/patterns/repository-activity-score.md
  translation/ja/patterns/review-committee.md
  translation/ja/patterns/service-vs-library.md
  translation/ja/patterns/start-as-experiment.md
  translation/ja/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/ja/patterns/trusted-committer.md
  translation/zh/patterns/30-day-warranty.md
  translation/zh/patterns/common-requirements.md
  translation/zh/patterns/contracted-contributor.md
  translation/zh/patterns/core-team.md
  translation/zh/patterns/crossteam-project-valuation.md
  translation/zh/patterns/dedicated-community-leader.md
  translation/zh/patterns/document-your-guiding-principles.md
  translation/zh/patterns/innersource-license.md
  translation/zh/patterns/innersource-portal.md
  translation/zh/patterns/maturity-model.md
  translation/zh/patterns/praise-participants.md
  translation/zh/patterns/repository-activity-score.md
  translation/zh/patterns/review-committee.md
  translation/zh/patterns/service-vs-library.md
  translation/zh/patterns/start-as-experiment.md
  translation/zh/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/zh/patterns/trusted-committer.md
Labels: Type - Translation

#578 Host translations in gitbook, using monorepo approach
  .gitbook.yaml
  .github/workflows/book.yml
  book/README.md
  book/en/.gitbook.yaml
  book/en/introduction.md
  book/ja/.gitbook.yaml
  book/ja/toc.md
  book/zh/.gitbook.yaml
  translation/README.md
Labels: (Self-) Hosting, Type - Translation

#577 InnerSource patterns book translation into Brazilian Portuguese
  .github/CODEOWNERS
  .github/workflows/book.yml
  book/en/toc_template.md
  book/ja/toc_template.md
  book/pt-br/.gitbook.yaml
  book/pt-br/contribute.md
  book/pt-br/explore-patterns.md
  book/pt-br/innersource-patterns-book-cover.jpg
  book/pt-br/introduction.md
  book/pt-br/toc.md
  book/pt-br/toc_template.md
  book/scripts/generate_toc.rb
  book/zh/toc_template.md
  translation/pt-br/README.md
  translation/pt-br/patterns/30-day-warranty.md
  translation/pt-br/patterns/base-documentation.md
  translation/pt-br/patterns/common-requirements.md
  translation/pt-br/patterns/communication-tooling.md
  translation/pt-br/patterns/contracted-contributor.md
  translation/pt-br/patterns/core-team.md
  translation/pt-br/patterns/crossteam-project-valuation.md
  translation/pt-br/patterns/dedicated-community-leader.md
  translation/pt-br/patterns/document-your-guiding-principles.md
  translation/pt-br/patterns/gig-marketplace.md
  translation/pt-br/patterns/innersource-license.md
  translation/pt-br/patterns/innersource-portal.md
  translation/pt-br/patterns/issue-tracker.md
  translation/pt-br/patterns/maturity-model.md
  translation/pt-br/patterns/praise-participants.md
  translation/pt-br/patterns/repository-activity-score.md
  translation/pt-br/patterns/review-committee.md
  translation/pt-br/patterns/service-vs-library.md
  translation/pt-br/patterns/start-as-experiment.md
  translation/pt-br/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/pt-br/patterns/trusted-committer.md
  translation/pt-br/templates/COMMUNICATION-template.md
  translation/pt-br/templates/CONTRIBUTING-template.md
  translation/pt-br/templates/README-template.md
Labels: Type - Translation
