Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-12, with the labels that each got.

#626 Adding Patterns WG board report 2023-11
  meta/boardreports/2023-11.md
Labels: :gear: Type - Meta

#633 Move files from project-setup to standard folders
  .github/workflows/lint-patterns.yml
  README.md
  assets/img/standard-base-documentation/README.md
  assets/img/standard-base-documentation/base_docs_drawing.png
  assets/img/standard-base-documentation/base_docs_drawing.svg
  book/en/toc.md
  book/en/toc_template.md
  book/scripts/generate_toc.rb
  meta/boardreports/2023-11.md
  meta/scripts/find_upgradeable_patterns.rb
  patterns/1-initial/explicit-shared-ownership.md
  patterns/1-initial/governance-levels.md
  patterns/1-initial/innersource-guidance-group.md
  patterns/2-structured/30-day-warranty.md
  patterns/2-structured/base-documentation.md
  patterns/2-structured/communication-tooling.md
  patterns/2-structured/group-support.md
  patterns/2-structured/issue-tracker.md
  patterns/2-structured/project-setup/README.md
  patterns/2-structured/release-process.md
  patterns/2-structured/repository-activity-score.md
  patterns/2-structured/templates/COMMUNICATION-template.md
  patterns/2-structured/templates/CONTRIBUTING-template.md
  patterns/2-structured/templates/README-template.md
  translation/ja/patterns/base-documentation.md
Labels: Type - Maintenance / Cleanup

#635 Improved Review Committee pattern
  patterns/2-structured/review-committee.md
Labels: 2-structured, :book: Type - Content Work
