Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-03, with the labels that each got.

#475 Improve Modular Code pattern
  patterns/1-initial/modular-code.md
Labels: 1-initial, :book: Type - Content Work

#528 Add GitHub usage and perspective
  patterns/1-initial/modular-code.md
Labels: 2-structured, :book: Type - Content Work, :tiger2: patterns-in-the-wild

#420 Improve 'Communication Tooling' pattern
  assets/img/communication-tooling/README.md
  assets/img/communication-tooling/communication-tooling.png
  patterns/2-structured/project-setup/communication-tooling.md
Labels: 2-structured, :book: Type - Content Work

#526 Introducing Metrics in InnerSource: Merge PR497 and PR501 upstream (instead of new patterns)
  patterns/1-initial/introducing-metrics-in-innersource.md
Labels: 1-initial, :book: Type - Content Work

#530 Concept Anchor - Formal pattern improvements
  patterns/1-initial/concept-anchor.md
Labels: 1-initial, :book: Type - Content Work
