Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-07, with the labels that each got.

#557 Create COMMUNICATION-template.md
  patterns/2-structured/project-setup/templates/COMMUNICATION-template.md
Labels: 2-structured, :book: Type - Content Work

#549 Japanese Translation - Extensions for Sustainable Growth Pattern
  translation/ja/patterns/extensions-for-sustainable-growth.md
Labels: Type - Translation

#561 Add Mercedes-Benz as known instance to innersource-portal.md
  patterns/2-structured/innersource-portal.md
Labels: 2-structured, :book: Type - Content Work, :tiger2: patterns-in-the-wild
