Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-11, with the labels that each got.

#613 Add new translation language: Galician
  .github/CODEOWNERS
  .github/workflows/book.yml
  TRUSTED-COMMITTERS.md
  assets/img/gl/CONTRIBUTING-for-contributors.png
  assets/img/gl/README-for-users.png
  assets/img/gl/bios-principles.png
  assets/img/gl/communication-tooling.png
  assets/img/gl/core-team.png
  assets/img/gl/extensions-for-sustainable-growth.png
  assets/img/gl/repository_activity_score.png
  assets/img/gl/review-committee-sketch.png
  book/gl/.gitbook.yaml
  book/gl/contribute.md
  book/gl/explore-patterns.md
  book/gl/fondos-publicos.png
  book/gl/innersource-patterns-book-cover.png
  book/gl/introduction.md
  book/gl/toc.md
  book/gl/toc_template.md
  pattern-categorization/gl/.gitignore
  pattern-categorization/gl/README.md
  pattern-categorization/gl/innersource-program-mind-map.html
  pattern-categorization/gl/innersource-program-mind-map.md
  pattern-categorization/gl/innersource-program-mind-map.png
  pattern-categorization/gl/package-lock.json
  pattern-categorization/gl/package.json
  translation/gl/patterns/30-day-warranty.md
  translation/gl/patterns/base-documentation.md
  translation/gl/patterns/common-requirements.md
  translation/gl/patterns/communication-tooling.md
  translation/gl/patterns/contracted-contributor.md
  translation/gl/patterns/core-team.md
  translation/gl/patterns/crossteam-project-valuation.md
  translation/gl/patterns/dedicated-community-leader.md
  translation/gl/patterns/document-your-guiding-principles.md
  translation/gl/patterns/extensions-for-sustainable-growth.md
  translation/gl/patterns/gig-marketplace.md
  translation/gl/patterns/group-support.md
  translation/gl/patterns/innersource-license.md
  translation/gl/patterns/innersource-portal.md
  translation/gl/patterns/issue-tracker.md
  translation/gl/patterns/maturity-model.md
  translation/gl/patterns/praise-participants.md
  translation/gl/patterns/repository-activity-score.md
  translation/gl/patterns/review-committee.md
  translation/gl/patterns/service-vs-library.md
  translation/gl/patterns/start-as-experiment.md
  translation/gl/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/gl/patterns/trusted-committer.md
  translation/gl/templates/CONTRIBUTING-template.md
  translation/gl/templates/README-template.md
  translation/gl/templates/pattern-template.md
Labels: Type - Translation

#618 Automate the generation of the "Explore Platterns" mindmap for multiple languages
  .github/workflows/generate-mindmap.yml
  pattern-categorization/gl/innersource-program-mind-map.html
  pattern-categorization/gl/innersource-program-mind-map.png
  pattern-categorization/innersource-program-mind-map.html
  pattern-categorization/innersource-program-mind-map.png
  pattern-categorization/package-lock.json
  pattern-categorization/package.json
Labels: Type - Maintenance / Cleanup

#453 Sustainable InnerSource donut pattern
  README.md
  patterns/1-initial/sustainable-innersource-program.md
Labels: 1-initial, :book: Type - Content Work

#621 Test regeneration of pt-br mindmap
  .github/CODEOWNERS
  book/pt-br/toc.md
  pattern-categorization/pt-br/innersource-program-mind-map.html
  pattern-categorization/pt-br/innersource-program-mind-map.png
Labels: Type - Translation

#622 Airbus pattern use
  patterns/2-structured/dedicated-community-leader.md
  patterns/2-structured/innersource-license.md
  patterns/2-structured/maturity-model.md
  patterns/2-structured/project-setup/base-documentation.md
  patterns/2-structured/repository-activity-score.md
  patterns/2-structured/start-as-experiment.md
Labels: :tiger2: patterns-in-the-wild

#532 InnerSource License: Added Robert Bosch GmbH as known instance
  patterns/2-structured/innersource-license.md
Labels: 2-structured, :tiger2: patterns-in-the-wild
