Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-05, with the labels that each got.

#534 Script to find upgradeable patterns
  meta/README.md
  meta/scripts/Gemfile
  meta/scripts/find_upgradeable_patterns.rb
  patterns/1-initial/governance-levels.md
  patterns/1-initial/incubator-pipeline.md
  patterns/1-initial/introducing-metrics-in-innersource.md
  patterns/2-structured/dedicated-community-leader.md
  patterns/2-structured/document-your-guiding-principles.md
Labels: :gear: Type - Meta

#409 shared-code-repo-different-from-build-repo.md - Moved to InnerSource as a term, changed formatting, shortened name
  patterns/1-initial/shared-code-repo-different-from-build-repo.md
Labels: 1-initial, :book: Type - Content Work

#539 Removing link to innersourceportal.santander.com
  translation/ja/patterns/innersource-portal.md
Labels: Type - Maintenance / Cleanup

#519 Adding vale for spell and style checking
  .github/lint-pattern-syntax/pattern-template.js
  .github/lint-pattern-syntax/pattern-template.yml
  .github/workflows/lint-patterns.yml
  .github/workflows/vale.yml
  .gitignore
  .vale.ini
  README.md
  meta/contributor-handbook.md
  meta/pattern-template.md
  patterns/1-initial/crossing-chasm.md
  patterns/1-initial/discover-your-innersource.md
  patterns/1-initial/explicit-shared-ownership.md
  patterns/1-initial/governance-levels.md
  patterns/1-initial/innersource-guidance-group.md
  patterns/1-initial/innersource-portal-hygiene.md
  patterns/2-structured/30-day-warranty.md
  patterns/2-structured/common-requirements.md
  patterns/2-structured/contracted-contributor.md
  patterns/2-structured/core-team.md
  patterns/2-structured/crossteam-project-valuation.md
  patterns/2-structured/dedicated-community-leader.md
  patterns/2-structured/document-your-guiding-principles.md
  patterns/2-structured/innersource-license.md
  patterns/2-structured/innersource-portal.md
  patterns/2-structured/maturity-model.md
  patterns/2-structured/praise-participants.md
  patterns/2-structured/project-setup/base-documentation.md
  patterns/2-structured/project-setup/communication-tooling.md
  patterns/2-structured/project-setup/templates/CONTRIBUTING-template.md
  patterns/2-structured/project-setup/templates/README-template.md
  patterns/2-structured/repository-activity-score.md
  patterns/2-structured/review-committee.md
  patterns/2-structured/service-vs-library.md
  patterns/2-structured/start-as-experiment.md
  patterns/2-structured/templates/rfc.md
  patterns/2-structured/transparent-cross-team-decision-making-using-rfcs.md
  patterns/2-structured/trusted-committer.md
Labels: :gear: Type - Meta
