Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2023-09, with the labels that each got.

#588 Adding ADI to innersource-customer-interview-questions.md
  patterns/1-initial/innersource-customer-interview-questions.md
Labels: 1-initial, :tiger2: patterns-in-the-wild

#590 Fixing link fragments in translations
  book/ja/introduction.md
  book/pt-br/introduction.md
  book/zh/introduction.md
  translation/ja/patterns/repository-activity-score.md
  translation/pt-br/patterns/repository-activity-score.md
  translation/zh/patterns/repository-activity-score.md
Labels: (Self-) Hosting

#589 Adding the COMMUNICATION.md to the Standard Base Documentation pattern
  book/en/toc_template.md
  patterns/2-structured/project-setup/base-documentation.md
Labels: 2-structured, :book: Type - Content Work, :tiger2: patterns-in-the-wild
