Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2024-03, with the labels that each got.

#605 Adding GovTech GPSL as a Known Instance to the InnerSource License pattern
  book/en/toc.md
  patterns/2-structured/innersource-license.md
Labels: 2-structured, :tiger2: patterns-in-the-wild

#663 base-documentation.md - add Communication template to References section
  patterns/2-structured/base-documentation.md
Labels: 2-structured, :book: Type - Content Work

#672 Add SAP as known instance for the 30 Day Warranty and Praise Participants patterns
  patterns/2-structured/30-day-warranty.md
  patterns/2-structured/praise-participants.md
Labels: :book: Type - Content Work, :tiger2: patterns-in-the-wild
