Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2024-06, with the labels that each got.

#661 New Pattern: Code of Conduct
  README.md
  assets/img/code-of-conduct/CODE_OF_CONDUCT-for-the-community.png
  assets/img/code-of-conduct/README.md
  patterns/1-initial/code-of-conduct.md
Labels: 1-initial, :book: Type - Content Work

#691 New pattern: Cross-Team Retrospectives
  README.md
  patterns/1-initial/cross-team-retrospectives.md
Labels: 1-initial, :book: Type - Content Work

#697 Added project and repository definitions to Glossary
  book/en/toc_template.md
  meta/glossary.md
Labels: :book: Type - Content Work

#698 Fix glossary in book
  book/en/toc.md
Labels: (Self-) Hosting
