Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2024-04, with the labels that each got.

#679 feat(30-day-warranty): SAP known instance teaser
  patterns/2-structured/30-day-warranty.md
Labels: 2-structured, :book: Type - Content Work, :tiger2: patterns-in-the-wild

#678 feat(praise-participants): SAP known instance teaser
  patterns/2-structured/praise-participants.md
Labels: 2-structured, :book: Type - Content Work, :tiger2: patterns-in-the-wild

#667 Add link to RFC Guide from jakobo/rfc
  patterns/2-structured/transparent-cross-team-decision-making-using-rfcs.md
Labels: 2-structured, :book: Type - Content Work

#680 Grammatical modifications added to the Galician translation in the texts of the corresponding .md files
  book/gl/introduction.md
  translation/gl/patterns/30-day-warranty.md
  translation/gl/patterns/base-documentation.md
  translation/gl/patterns/common-requirements.md
  translation/gl/patterns/communication-tooling.md
  translation/gl/patterns/contracted-contributor.md
  translation/gl/patterns/core-team.md
  translation/gl/patterns/crossteam-project-valuation.md
  translation/gl/patterns/dedicated-community-leader.md
  translation/gl/patterns/document-your-guiding-principles.md
  translation/gl/patterns/extensions-for-sustainable-growth.md
  translation/gl/patterns/gig-marketplace.md
  translation/gl/patterns/group-support.md
  translation/gl/patterns/innersource-license.md
  translation/gl/patterns/innersource-portal.md
  translation/gl/patterns/issue-tracker.md
  translation/gl/patterns/maturity-model.md
  translation/gl/patterns/repository-activity-score.md
  translation/gl/patterns/review-committee.md
  translation/gl/patterns/service-vs-library.md
  translation/gl/patterns/start-as-experiment.md
  translation/gl/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/gl/patterns/trusted-committer.md
  translation/gl/templates/CONTRIBUTING-template.md
  translation/gl/templates/README-template.md
  translation/gl/templates/pattern-template.md
Labels: Type - Translation

#652 InnerSource pattern "Creating an InnerSource Strategy"
  patterns/1-initial/creating_an_innersource_strategy.md
Labels: 1-initial, :book: Type - Content Work
