Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2025-02, with the labels that each got.

#771 Code of Conduct pattern - Use local file links
  patterns/1-initial/code-of-conduct.md
Labels: 1-initial, :book: Type - Content Work

#774 Upgrade to latest commonmarker version
  meta/scripts/find_upgradeable_patterns.rb
Labels: Type - Maintenance / Cleanup, dependencies

#773 Add: initial pattern document architecture decisions
  README.md
  patterns/1-initial/document-architecture-decisions.md
Labels: 1-initial, :book: Type - Content Work

#778 Board Report 2025-02
  meta/boardreports/2025-02.md
Labels: :gear: Type - Meta
