Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2025-01, with the labels that each got.

#692 [Pattern Draft] Managing capacity for reviewing contributions
  README.md
  patterns/1-initial/capacity-for-contributions.md
Labels: 1-initial, :book: Type - Content Work

#740 [Pattern Draft] InnerSource Ambassador
  README.md
  patterns/1-initial/innersource-ambassador.md
Labels: 1-initial, :book: Type - Content Work

#696 [Pattern Draft] Circle Communities
  patterns/1-initial/circle-communities.md
Labels: 1-initial, :book: Type - Content Work

#759 Update innersource-ambassador.md - incentives for ambassadors
  patterns/1-initial/innersource-ambassador.md
Labels: 1-initial, :book: Type - Content Work

#756 Update innersource-ambassador.md (pattern)
  patterns/1-initial/innersource-ambassador.md
Labels: 1-initial, :book: Type - Content Work

#757 innersource-ambassador.md - Add experience from WellSky
  patterns/1-initial/innersource-ambassador.md
Labels: 1-initial, :book: Type - Content Work, :tiger2: patterns-in-the-wild

#760 Update lychee config
  .github/workflows/link-checker-prs.yml
  .github/workflows/link-checker.yml
  .lycheeignore
Labels: Type - Maintenance / Cleanup

#761 [Pattern Draft] Internal Developer Platform - replaces PR #720
  README.md
  assets/img/sketch_idp.png
  patterns/1-initial/internal-developer-platform.md
Labels: 1-initial, :book: Type - Content Work

#764 Add BBC to users of the Governance Levels pattern
  patterns/1-initial/governance-levels.md
Labels: :book: Type - Content Work, :tiger2: patterns-in-the-wild
