Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2025-03, with the labels that each got.

#785 Translation of the book to Spanish
  .github/CODEOWNERS
  .github/workflows/book.yml
  .github/workflows/generate-mindmap.yml
  .github/workflows/i18n-consistency-checker.yaml
  TRUSTED-COMMITTERS.md
  book/es/.gitbook.yaml
  book/es/contribute.md
  book/es/explore-patterns.md
  book/es/innersource-patterns-book-cover.jpg
  book/es/introduction.md
  book/es/toc.md
  book/es/toc_template.md
  pattern-categorization/README.md
  pattern-categorization/es/innersource-program-mind-map.html
  pattern-categorization/es/innersource-program-mind-map.md
  pattern-categorization/es/innersource-program-mind-map.png
  translation/es/patterns/30-day-warranty.md
  translation/es/patterns/base-documentation.md
  translation/es/patterns/common-requirements.md
  translation/es/patterns/communication-tooling.md
  translation/es/patterns/contracted-contributor.md
  translation/es/patterns/core-team.md
  translation/es/patterns/crossteam-project-valuation.md
  translation/es/patterns/dedicated-community-leader.md
  translation/es/patterns/document-your-guiding-principles.md
  translation/es/patterns/extensions-for-sustainable-growth.md
  translation/es/patterns/gig-marketplace.md
  translation/es/patterns/group-support.md
  translation/es/patterns/innersource-license.md
  translation/es/patterns/innersource-portal.md
  translation/es/patterns/issue-tracker.md
  translation/es/patterns/maturity-model.md
  translation/es/patterns/praise-participants.md
  translation/es/patterns/release-process.md
  translation/es/patterns/repository-activity-score.md
  translation/es/patterns/review-committee.md
  translation/es/patterns/service-vs-library.md
  translation/es/patterns/start-as-experiment.md
  translation/es/patterns/transparent-cross-team-decision-making-using-rfcs.md
  translation/es/patterns/trusted-committer.md
  translation/es/templates/COMMUNICATION-template.md
  translation/es/templates/CONTRIBUTING-template.md
  translation/es/templates/README-template.md
  translation/es/templates/rfc.md
  translation/pt-br/patterns/base-documentation.md
Labels: Type - Translation

#791 [Pattern Draft] Incentives and Disincentives for InnerSource Contribution
  README.md
  patterns/1-initial/incentives-and-disincentives.md
Labels: 1-initial, :book: Type - Content Work

#765 Promoting Governance Levels pattern to Structured
  README.md
  assets/img/flutter-pyramid.svg
  assets/img/governance-levels/1.png
  assets/img/governance-levels/2.png
  assets/img/governance-levels/3.png
  assets/img/governance-levels/4.png
  assets/img/governance-levels/flutter-pyramid.png
  book/en/toc.md
  book/scripts/Gemfile
  pattern-categorization/innersource-program-mind-map.html
  pattern-categorization/innersource-program-mind-map.md
  pattern-categorization/innersource-program-mind-map.png
  patterns/1-initial/governance-levels.md
  patterns/2-structured/governance-levels.md
Labels: 2-structured, :book: Type - Content Work

#801 Mention how Siemens applies some patterns
  patterns/1-initial/innersource-ambassador.md
  patterns/2-structured/base-documentation.md
  patterns/2-structured/communication-tooling.md
  patterns/2-structured/document-your-guiding-principles.md
  patterns/2-structured/innersource-license.md
  patterns/2-structured/innersource-portal.md
  patterns/2-structured/issue-tracker.md
  patterns/2-structured/praise-participants.md
  patterns/2-structured/repository-activity-score.md
  patterns/2-structured/start-as-experiment.md
Labels: :tiger2: patterns-in-the-wild

#803 Consistent formatting of the Known Instance section
  patterns/1-initial/innersource-ambassador.md
  patterns/2-structured/30-day-warranty.md
  patterns/2-structured/base-documentation.md
  patterns/2-structured/communication-tooling.md
  patterns/2-structured/contracted-contributor.md
  patterns/2-structured/crossteam-project-valuation.md
  patterns/2-structured/dedicated-community-leader.md
  patterns/2-structured/document-your-guiding-principles.md
  patterns/2-structured/gig-marketplace.md
  patterns/2-structured/governance-levels.md
  patterns/2-structured/group-support.md
  patterns/2-structured/issue-tracker.md
  patterns/2-structured/maturity-model.md
  patterns/2-structured/praise-participants.md
  patterns/2-structured/release-process.md
  patterns/2-structured/repository-activity-score.md
  patterns/2-structured/review-committee.md
  patterns/2-structured/service-vs-library.md
  patterns/2-structured/start-as-experiment.md
  patterns/2-structured/trusted-committer.md
Labels: :book: Type - Content Work

#758 innersource-ambassador.md - Adding related concepts to the Rationale
  patterns/1-initial/innersource-ambassador.md
Labels: 1-initial, :book: Type - Content Work
