Repository InnerSourceCommons/InnerSourcePatterns, pull requests merged in 2025-09, with the labels that each got.

#838 Fix link to DBSystel InnerSource License
  patterns/2-structured/innersource-license.md
  translation/es/patterns/innersource-license.md
  translation/gl/patterns/innersource-license.md
  translation/ja/patterns/innersource-license.md
  translation/pt-br/patterns/innersource-license.md
  translation/zh/patterns/innersource-license.md
Labels: Type - Maintenance / Cleanup

#842 feat: Update the Incentive Mechanisms for Voluntary Contribution and related patterns
  assets/img/middle_management_sketch_img_2257.jpg
  patterns/1-initial/change-the-middle-management-mindset.md
  patterns/1-initial/incentive-mechanisms-for-voluntary-contribution.md
Labels: 1-initial, :book: Type - Content Work

#850 [Chore] Minor fixes to Unified Source Code Inventory
  assets/img/source-code-inventory/source-code-inventory-mockup-dashboard.png
  assets/img/source-code-inventory/source-code-inventory-mockup-questionnaire.png
  patterns/1-initial/source-code-inventory.md
Labels: 1-initial, :book: Type - Content Work

#849 Mindmap screenshot with pageres-cli
  .github/workflows/generate-mindmap.yml
  pattern-categorization/es/innersource-program-mind-map.html
  pattern-categorization/es/innersource-program-mind-map.png
  pattern-categorization/gl/innersource-program-mind-map.html
  pattern-categorization/gl/innersource-program-mind-map.png
  pattern-categorization/innersource-program-mind-map.png
  pattern-categorization/package-lock.json
  pattern-categorization/package.json
  pattern-categorization/pt-br/innersource-program-mind-map.html
  pattern-categorization/pt-br/innersource-program-mind-map.png
Labels: Type - Maintenance / Cleanup, (Self-) Hosting
